
#grad1 {
  height: 500px;
  background-color: #cccccc;
  background-image: linear-gradient(red, Green);
}
h1{
    color: Red;
    border-style: solid;
    border-width: medium;
    border-color:Black;
}
h2{
    color: Green;
    border-style: solid;
    border-width: medium;
    border-color:Black;
}
p{
    background-color: black;
    color: Red;
    border: 2.5px solid Black;
    border-radius: 5px;
}
figcaption{
    color: Red;
}
label{
    color: Red;
}
progress{
    color: Red;
}
