
h1{
    color: Red;
    border-style: inset;
    border-width: medium;
    margin: 25px;
    border-color:Black;
}
h2{
    color: Green;
    border-style: inset;
    border-width: medium;
    margin: 25px;
    border-color:Black;
}
p{
    background-color: lightblue;
    color: Red;
    border: 2.5px solid Black;
    border-radius: 5px;
}
figcaption{
    color: Red;
}
label{
    color: Red;
}
progress{
    color: Red;
}
body{
    background-image: url(https://sportsbet.imgix.net/news/1A+Bitcasino/bitcoin-mooning-large.jpg?auto=compress&auto=format?w=1200&auto=compress,enhance,format);
}
