
header {
  background-color: #111;
  padding: 33px;
  text-align: center;
  font-size: 33px;
  color: blue;
}


nav {
  float: left;
  width: 25%;
  height: 250px;
  background: Red);
  padding: 25px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  padding: 20px;
  width: 50%;
  background-color: Red;
  height: 300px;
}


section::after {
  content: "";
  display: table;
  clear: both;
}


footer {
  background-color: #457;
  padding: 15px;
  text-align: center;
  color: Red;
}
}
.letters {list-style-type: lower-alpha;}
.squares {list-style-type: square;}
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  
